<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>Todo List</title>
	<!-- CSS -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
	
	<!-- JS -->
	<script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
	<h1 th:text="#{tieunt.value.listTodo} + ':'"></h1>
	<ul>
		<li th:each="todo : ${todoList}">
			<span th:text="*{todo.title}"></span> : <span th:text="*{todo.detail}"></span>
		</li>
	</ul>
	
	<a th:href="@{/addTodo}" class="btn btn-success" th:text="#{tieunt.value.addTodo}"></a>
</body>
</html>